@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}
[x-cloak] { display: none !important; }

/* Pastikan sidebar di bawah header */
aside {
    position: fixed;
    z-index: 10; /* Posisi yang lebih rendah dari header */
}
#sidebar {
    z-index: 30; /* Sidebar */
}

#sidebar-toggle {
    z-index: 40; /* Tombol Toggle */
}
header{
    z-index: 20;
}
.ck-editor__editable {
    position: relative;
    z-index: 1;
    max-height: 400px;
    overflow-y: auto;
}

div.mb-6 {
    overflow: hidden;
}

